<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="posts">
				<div class="post-box">
					<span class="post-pic">
						<img src="assets/user-image.png" class="img-fluid" />
					</span>
					<span class="post-name">
						<p class="post-user">{{ postDetails.name }}</p>
						<a>{{ postDetails.title }}</a>
					</span>
					<p class="post-txt more">{{ postDetails.body }}</p>
					<app-comment [postId]="postDetails.postId"></app-comment>
				</div>
			</div>
		</div>
	</div>
</div>
