.comment-box {
	width: 100%;
	float: left;
	height: 100%;
	background-color: #fafafa;
	padding: 10px 10px 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.commenter-pic {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 100%;
	border: 2px solid #fff;
	overflow: hidden;
	background-color: #fff;
}

.post-user {
	margin-bottom: 0px;
}

p.comment-txt {
	font-size: 15px;
	border-bottom: 1px solid #ddd;
	padding: 0px 0px 15px;
}
.commenter-name {
	display: inline-block;
	position: relative;
	top: -5px;
	left: 10px;
	font-size: 16px;
	font-weight: bold;
}
.replied {
	background-color: #fff;
	width: 95%;
	float: right;
	margin-top: 15px;
}

/*======Responsive CSS=======*/
@media (max-width: 767px) {
	.commenter-name {
		font-size: 13px;
		top: -5px;
	}
	.commenter-pic {
		width: 40px;
		height: 40px;
	}
	.commenter-name a {
		display: block;
	}
}
